/*
  Подключение шрифтов, анимация появления попапа
*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url("./../fonts/Roboto-Regular.woff2"),
    url("./../fonts/Roboto-Regular.woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto Condensed"),
    local("RobotoCondensed-Regular"),
    url("./../fonts/RobotoCondensed-Regular.woff2"),
    url("./../fonts/RobotoCondensed-Regular.woff");
}

@-webkit-keyframes popup {
  from {
    -webkit-transform: translate(-50%, -35%) scale(6);
            transform: translate(-50%, -35%) scale(6);
  }

  to {
    -webkit-transform: translate(-50%, -35%) scale(1);
            transform: translate(-50%, -35%) scale(1);
  }
}

@keyframes popup {
  from {
    -webkit-transform: translate(-50%, -35%) scale(6);
            transform: translate(-50%, -35%) scale(6);
  }

  to {
    -webkit-transform: translate(-50%, -35%) scale(1);
            transform: translate(-50%, -35%) scale(1);
  }
}

/*
  Общие утилитарные стили
*/

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
  Стилизация шапки
*/

.site-header {
  width: 320px;
  margin: 0 auto 30px;
  padding: 0 20px;
}

.site-headline {
  font-family: "Roboto Condensed", "Helvetica", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-top: 15px;
}

/*
  Стилизация основного контента
*/

.site-main {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.photos-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.photos-list__item {
  margin-bottom: 30px;
}

.photos-list__link {
  cursor: pointer;
}

.photos-list__link:hover .photos-list__image {
  -webkit-box-shadow: 0 0 25px 15px rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 25px 15px rgba(204, 204, 204, 0.5);
}

.photos-list__link:focus .photos-list__image {
  -webkit-box-shadow: 0 0 25px 15px rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 25px 15px rgba(204, 204, 204, 0.5);
}

.photos-list__image {
  width: 280px;
  height: 171px;
}

/*
  Стилизация подвала
*/

.site-footer {
  position: relative;

  width: 320px;
  margin: auto auto 0;
  padding: 0 20px;
}

.site-footer::before {
  content: "";

  position: absolute;

  width: 280px;
  height: 1px;

  background-color: #CCCCCC;
}

.copyright {
  font-family: "Roboto Condensed", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #CCCCCC;
  text-align: center;
  text-transform: uppercase;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 33px;
  margin: 12px 0 11px;
}

/*
  Стилизация попапа и оверлея
*/

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.overlay--closed {
  visibility: hidden;
}

.popup {
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 20;

  font-family: "Roboto", "Helvetica", sans-serif;

  width: 320px;
  height: 100%;

  background-color: #FFFFFF;

  -webkit-transform: translate(-50%, -35%);
      -ms-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);

  -webkit-animation: popup 0.5s ease-out;
          animation: popup 0.5s ease-out;
}

.post__close {
  position: absolute;
  top: 21px;
  right: 21px;
  z-index: 30;

  display: block;
  width: 27px;
  height: 27px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.post__close::before,
.post__close::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #000000;
}

.post__close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.post__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.post__photo {
  display: block;
  width: 320px;
  height: 205px;
  margin-bottom: 25px;
}

.post__comments-list {
  margin: 0;
  padding: 0 20px;

  list-style: none;
}

.post__comment-item {
  margin: 0 0 20px;
  padding: 0;
}

.post__comment-date {
  font-size: 13px;
  line-height: 15px;
  color: #999999;

  display: block;
  margin-bottom: 5px;
}

.post__comment-text {
  margin: 0;
}

.post__user-controls {
  font-size: 13px;
  line-height: 15px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.post__user-input {
  font-size: 13px;
  line-height: 15px;

  margin-bottom: 20px;
  padding: 8px 11px;

  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.post__user-input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.post__user-input::-moz-placeholder {
  color: #CCCCCC;
}

.post__user-input:-ms-input-placeholder {
  color: #CCCCCC;
}

.post__user-input::-ms-input-placeholder {
  color: #CCCCCC;
}

.post__user-input::placeholder {
  color: #CCCCCC;
}

.post__user-input:hover,
.post__user-input:focus {
  border-color: #4997D0;
}

.post__comment-submit {
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;

  margin-bottom: 48px;
  padding: 8px 11px;

  background-color: #4997D0;
  border: 0;
  border-radius: 3px;

  cursor: pointer;
}

@media (min-width: 768px) {
  .site-header {
    width: 768px;
  }

  .site-main {
    width: 768px;
  }

  .photos-list {
    margin-left: -20px;
  }

  .photos-list__item {
    margin-left: 20px;
  }

  .photos-list__image {
    width: 229px;
    height: 142px;
  }

  .site-footer {
    width: 768px;
  }

  .site-footer::before {
    width: 728px;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .popup {
    width: 620px;
    height: auto;
  }

  .post__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 0 30px 30px;
  }

  .post__photo {
    width: 331px;
    margin-right: 14px;
    margin-bottom: 29px;
  }

  .post__comments-list {
    width: 230px;
    padding: 0;
  }

  .post__user-controls {
    padding: 0;
  }

  .post__user-controls {
    width: 331px;
  }

  .post__comment-submit {
    margin-bottom: 0;
  }
}
